* {
  padding: 0;
  margin: 0;
}

html , body , #root {
  height: 100%;
}

.fl-row {
  display: flex;
  flex-direction: row;
}
.fl-col {
  display: flex;
  flex-direction: column;
}

.jcen {
  justify-content: center;
}
.acen {
  align-items: center;
}

.f1 {
  flex: 1;
}
.fwrap {
  flex-wrap: wrap;
}

/* Special */
.jcon-sar {
  justify-content: space-around;
}

.border {
  border: 2px solid red;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}
