/* 
font-family: 'Merriweather', serif;
font-family: 'Prompt', sans-serif;
font-family: 'Raleway', sans-serif;
*/

#Auth {
    background-color: #F9FAFE;
}



#login-btns {
    margin-bottom: 0.5rem ;
    margin-top: 1rem;
}

.auth-btn {
    padding: 0.3rem;
    border: 1px solid;
    border-radius: 4px;
}

.auth-btn:hover {
    background-color: rgb(127, 255, 47);
}

.auth-sub-btn {
    margin-top: 1rem;
    background-color: #5cdb5c ;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 5px 0;
    width: 70%;
}
.auth-sub-btn:hover {
    background-color: rgb(127, 255, 47);
}

.auth-warn {
    color: red;
    position: absolute;
    opacity: 0;
    top: 0;
    font-size: 0.1rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    transition: 1s ease-in-out;
    padding: 0.2rem;
}

.warn-vis {
    opacity: 1;
    top: 100px;
    font-size: 1.1rem;
    background-color: #fef3f3;
}

.auth-head {
    margin-top: 4rem;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.auth-label {
    font-size: 1.4rem;
}

.acnt-avail {
    margin-top: 2rem;
}
.acnt-avil-btn {
    border: none;
    outline: none;
    background-color: inherit;
    text-decoration: underline;
}


.auth-img {
    height: 100%;
    width: 40%;
    object-fit: cover;
}

.auth-form {
    width: 60%;
    height: 100%;
}

.auth-desc {
    width: 80%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.ip {
    margin: 0.8rem 0;
    background-color: #e8e9fd;
    border-radius: 0.5rem;
    box-shadow: 0 8px 6px -9px black;
    padding-right: 0.3rem;
}

.ip > img {
    height: 20px;
}
.ip:hover {
    box-shadow: 0 8px 8px -1px lightblue;
}
.auth-ip {
    width: 300px;
    height: 33px;
    background-color: #eeeefc;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding-left: 1rem;
}
.pass-btn {
    outline: none;
    border: none;
    background-color: #e8e9fd;
    border-radius: 0.5rem;
}
.pass-btn > img {
    height: 25px;
}

@media screen and (max-width: 630px) {
    .auth-img {
        display: none;
        width: 0;
    }
    .auth-form {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .auth-desc {
        font-size: 0.8rem;
    }
    .auth-ip {
        width: 250px;
    }
}